---
import Layout from "../layouts/Layout.astro";
import { getSiteSettings } from "../utils/site";

const site = await getSiteSettings();
---

<Layout title={`关于 | ${site.siteTitle}`} description={site.siteDescription}>
  <section class="shell intro about-intro">
    <img class="intro-avatar" src="/avatar.jpg" alt="iYuu 的头像" />
    <div class="intro-copy">
      <p class="eyebrow">{site.aboutEyebrow}</p>
      <h1>{site.aboutTitle}</h1>
      {site.aboutIntro.map((paragraph) => <p>{paragraph}</p>)}
    </div>
  </section>

  <section class="shell simple-stack">
    <section class="section">
      <h2>主要内容</h2>
      <ul class="plain-list">
        {site.aboutFocusAreas.map((item) => <li>{item}</li>)}
      </ul>
    </section>

    <section class="section">
      <h2>写作方式</h2>
      <ul class="plain-list">
        {site.aboutWritingApproach.map((item) => <li>{item}</li>)}
      </ul>
    </section>

    <section class="section">
      <h2>内容说明</h2>
      <p>{site.aboutNote}</p>
    </section>
  </section>
</Layout>
